<template lang="pug">
.background(ref="background")
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import * as THREE from "three";
//@ts-ignore
import * as dat from "dat.gui";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls.js";
// import gsap from "gsap";

// TODO:
// Fix linting errors
//@ts-ignore
import VertexShader from "../assets/shaders/vertex.vert";
//@ts-ignore
import FragmentShader from "../assets/shaders/fragment.frag";

@Component
export default class Background extends Vue {
  sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  };

  gui = new dat.GUI();
  scene = new THREE.Scene();
  renderer = new THREE.WebGLRenderer({
    alpha: true,
  });

  camera = new THREE.PerspectiveCamera(
    75,
    this.sizes.width / this.sizes.height,
    0.1,
    100
  );
  cameraZ = 5;

  controls = new OrbitControls(this.camera, this.renderer.domElement);
  clock = new THREE.Clock();
  canvas = this.renderer.domElement;

  // Positional
  segments = 64;
  distance = this.cameraZ;
  vFov = (this.camera.fov * Math.PI) / 180;
  virtualHeight = 2 * Math.tan(this.vFov / 2) * this.distance;
  virtualWidth = this.virtualHeight * this.camera.aspect;

  materialRef: any[] = [];

  mounted() {
    this.init();
    this.setup();
    this.tick();
  }

  init() {
    this.camera.position.set(0, 0, this.cameraZ);
    this.scene.add(this.camera);

    this.renderer.setClearColor(0x000000, 0);
    this.renderer.setSize(this.sizes.width, this.sizes.height);
    this.renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
    (this.$refs.background as HTMLElement).appendChild(
      this.renderer.domElement
    );

    this.controls.enableDamping = true;

    window.addEventListener("resize", () => {
      // Update sizes
      this.sizes.width = window.innerWidth;
      this.sizes.height = window.innerHeight;

      // Update camera
      this.camera.aspect = this.sizes.width / this.sizes.height;
      this.camera.updateProjectionMatrix();

      // Update renderer
      this.renderer.setSize(this.sizes.width, this.sizes.height);
      this.renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
    });
  }

  genMaterial(folder: string, color: string): any {
    const material = new THREE.RawShaderMaterial({
      vertexShader: VertexShader,
      fragmentShader: FragmentShader,
      // wireframe: true,
      uniforms: {
        uVirtualHeight: { value: this.virtualHeight },
        uVirtualWidth: { value: this.virtualWidth },
        uTime: { value: 0 },
        // uSheer: { value: -0.25 },
        uSheer: { value: 0 },
        uOffset: { value: 1 },
        uIntensity: { value: Math.random() * 0.15 + 0.05 },
        uSpeed: { value: Math.random() * 0.5 + 0.5 },
        uRipples: { value: Math.random() * 0.3 + 0.2 },
        uTest: { value: 0 },
        uColor: { value: new THREE.Color(color) },
      },
      transparent: false,
    });

    const debugMaterialUI = this.gui.addFolder(`${folder}`);

    debugMaterialUI
      .add(material.uniforms.uSheer, "value")
      .min(-1)
      .max(1)
      .step(0.01)
      .name("uSheer");
    debugMaterialUI
      .add(material.uniforms.uOffset, "value")
      .min(-1)
      .max(1)
      .step(0.01)
      .name("uOffset");
    debugMaterialUI
      .add(material.uniforms.uIntensity, "value")
      .min(0)
      .max(1)
      .step(0.01)
      .name("uIntensity");
    debugMaterialUI
      .add(material.uniforms.uSpeed, "value")
      .min(0)
      .max(10)
      .step(0.1)
      .name("uSpeed");
    debugMaterialUI
      .add(material.uniforms.uRipples, "value")
      .min(0)
      .max(3)
      .step(0.1)
      .name("uRipples");
    debugMaterialUI
      .add(material.uniforms.uTest, "value")
      .min(0)
      .max(1)
      .step(0.01)
      .name("uTest");

    this.materialRef.push(material);
    return material;
  }

  setup() {
    const geometry = new THREE.PlaneGeometry(
      this.virtualWidth * 1.4,
      this.virtualHeight * 1.8,
      Math.round(this.camera.aspect * this.segments) / 4,
      this.segments
    );

    console.log(this.virtualHeight, this.virtualWidth);

    const material1 = this.genMaterial("Material 1", "#F653A7");
    const material2 = this.genMaterial("Material 2", "#F98F8E");
    const material3 = this.genMaterial("Material 3", "#FBBB7D");

    const layer1 = new THREE.Mesh(geometry, material1);
    const layer2 = new THREE.Mesh(geometry, material2);
    const layer3 = new THREE.Mesh(geometry, material3);

    // // Right
    // const right =
    //   this.virtualWidth * (1 + Math.abs(material1.uniforms.uSheer.value));
    // // Left
    // const left = -this.virtualWidth * (1 + 0.2);

    layer1.position.x = this.virtualWidth * -0.2;
    layer1.position.y = this.virtualHeight * -0.2;
    layer1.rotation.z = 45 * (Math.PI / 180);

    layer2.position.x = this.virtualWidth * 0.2;
    layer2.position.y = this.virtualHeight * 0.2;
    layer2.rotation.z = 45 * (Math.PI / 180);

    layer3.position.x = this.virtualWidth * 0.5;
    layer3.position.y = this.virtualHeight * 0.5;
    layer3.rotation.z = 45 * (Math.PI / 180);

    // gsap.to(mesh.position, {
    //   x: right/2,
    //   duration: 1
    // })

    this.gui
      .add(layer1.position, "x")
      .min(-this.virtualWidth)
      .max(this.virtualWidth)
      .step(0.001)
      .name("Layer 1 x");

    this.gui
      .add(layer1.position, "y")
      .min(-this.virtualHeight)
      .max(this.virtualHeight)
      .step(0.001)
      .name("Layer 1 y");

    this.gui
      .add(layer2.position, "x")
      .min(-this.virtualWidth)
      .max(this.virtualWidth)
      .step(0.001)
      .name("Layer 2 x");

    this.gui
      .add(layer2.position, "y")
      .min(-this.virtualHeight)
      .max(this.virtualHeight)
      .step(0.001)
      .name("Layer 2 y");

    this.gui
      .add(layer3.position, "x")
      .min(-this.virtualWidth)
      .max(this.virtualWidth)
      .step(0.001)
      .name("Layer 3 x");

    this.gui
      .add(layer3.position, "y")
      .min(-this.virtualHeight)
      .max(this.virtualHeight)
      .step(0.001)
      .name("Layer 3 y");

    this.scene.add(layer1);
    this.scene.add(layer2);
    this.scene.add(layer3);
  }

  tick() {
    const elapsedTime = this.clock.getElapsedTime();

    if (this.materialRef.length > 0) {
      for (let m = 0; m < this.materialRef.length; m++) {
        this.materialRef[m].uniforms.uTime.value = elapsedTime;
      }
    }

    // Update controls
    this.controls.update();

    // Render
    this.renderer.render(this.scene, this.camera);

    // Call tick again on the next frame
    requestAnimationFrame(this.tick);
  }
}
</script>

<style lang="scss">
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  // z-index: 10;
  pointer-events: none;
}

.dg {
  display: none;
  z-index: 100 !important;
}
</style>