<template lang="pug">
transition-group.daily-display(
  name="list",
  tag="div",
  :style="{ '--total': days.length }"
)
  .daily-display__day(
    :key="`key-${ind}`",
    v-for="(day, ind) in days",
    :style="{ '--i': ind }"
  )
    .daily-display__day-name
      span {{ formatDay(day.dt) }}
      span.daily-display__day-name-tomorrow(v-if="checkDay(day.dt)") &nbsp;(Tomorrow)
    .daily-display__day-icon
      i(:class="`wi ${getIcon(day.weather[0].id)}`")
    .daily-display__day-temps
      .daily-display__day-temp-high
        span {{ Math.round(day.temp.max) }}°
      .daily-display__day-temps-low
        span {{ Math.round(day.temp.min) }}°
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import dayjs from "dayjs";

import WEATHER_ID from "../data/weather-id";

const DailyDisplayProps = Vue.extend({
  props: {
    data: Array,
  },
});

@Component
export default class DailyDisplay extends DailyDisplayProps {

  state = {
    data: [] as any[]
  }

  get days(): any[] {
    if (this.state.data) {
      const days = [...this.state.data];

      for (let d = 0; d < this.state.data.length; d++) {
        // @ts-ignore
        const day = dayjs(this.state.data[d].dt * 1000);
        const today = dayjs(new Date());

        if (today.isSame(day, "day")) {
          this.state.data.splice(d, 1);
        }
      }

      return days;
    } else {
      return [];
    }
  }

  getIcon(id: number): string {
    return WEATHER_ID[id].icoClass.day;
  }

  formatDay(time: number): string {
    const day = dayjs(time * 1000);
    return day.format("dddd");
  }

  checkDay(time: number): boolean {
    const day = dayjs(time * 1000);
    const today = dayjs(new Date());

    if (day.isAfter(today, "day") && day.diff(today, "day", true) <= 1) {
      return true;
    } else {
      return false;
    }
  }

  mounted() {
    this.updateTemp();
  }

  updated() {
    this.updateTemp();
  }

  updateTemp() {
    Vue.nextTick().then(() => {
      this.state.data = this.data;
    });
  }
}
</script>

<style lang="scss" scoped>
.daily-display {
  display: table;
  width: 100%;
  margin-top: 48px;
  margin-bottom: #{48px + 56px};
  padding: 0 16px;

  .daily-display__day {
    display: table-row;
    width: 100%;

    .daily-display__day-name,
    .daily-display__day-icon,
    .daily-display__day-temps {
      padding-top: 12px;
    }

    &:first-child {
      .daily-display__day-name,
      .daily-display__day-icon,
      .daily-display__day-temps {
        padding-top: 0;
      }
    }

    .daily-display__day-name {
      display: table-cell;
      // width: 180px
      .daily-display__day-name-tomorrow {
        font-size: 12px;
        font-weight: 700;
      }
    }
    .daily-display__day-icon {
      display: table-cell;
      text-align: center;
      width: auto;
      padding-left: 16px;
      padding-right: 16px;
    }
    .daily-display__day-temps {
      display: table-cell;
      white-space: nowrap;
      text-align: right;
      // width: 90px;
      .daily-display__day-temp-high {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
      }
      .daily-display__day-temps-low {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        margin-left: 8px;
      }
    }
  }
}

$stagger: 0.05s;
$duration: 0.25s;
.list {
  &-move {
    transition: opacity $duration linear, transform $duration ease-in-out;
  }

  &-leave-active {
    transition: opacity $duration linear, transform $duration ease-in;
    transition-delay: calc(#{$stagger} * (var(--total) - var(--i)));
  }

  &-enter-active {
    transition: opacity $duration linear, transform $duration ease-out;
    transition-delay: calc(#{$stagger} * var(--i));
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter,
  &-leave-to {
    transform: translateY(24px);
  }
}
</style>