<template lang="pug">

#favourites.slide
  .favourites__content
    Tile(
      :key="ind",
      v-for="(country, ind) in listCountries",
      :country="country",
      :isDeleting="isDeletingCountries",
      @delete="() => { removeCountryFromFavourites(country); }"
    )

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapActions, mapGetters } from "vuex";
import Tile from "./favourites-tile.vue";

const setLocal = (key: string, data: string) => {
  window.localStorage.setItem(key, data);
};

const getLocal = (key: string) => {
  return window.localStorage.getItem(key);
};

// const removeLocal = (key: string) => {
//   window.localStorage.removeItem(key);
// };

@Component({
  components: {
    Tile,
  },
  computed: mapGetters(["listCountries", "isDeletingCountries"]),
  methods: mapActions(["removeCoutry", "setCountries", "setDeletingCountryState"]),
})
export default class FavouritesSlide extends Vue {
  listCountries!: any[];
  isDeletingCountries!: boolean;
  removeCoutry!: (country: string) => Promise<void>;
  setCountries!: (countries: any[]) => Promise<void>;
  setDeletingCountryState!: (isDeleting: boolean) => Promise<void>;

  // URL_COUNTRIES_API = "https://restcountries.eu/rest/v2/name/";
  // NOTE:
  // It's a demo it's fine for it to be here right x:
  // TODO:
  // Put this into an ENV file and refresh all keys
  WEATHER_KEY = "013468c5cd187154fdffe526c093f8c3";
  URL_CITIES_API = "http://api.openweathermap.org/geo/1.0/direct";

  removeCountryFromFavourites(country: any): void {
    this.removeCoutry(country).then(() => {
      setLocal("saved-countries", JSON.stringify(this.listCountries));
      if (this.listCountries.length <= 0) {
        this.setDeletingCountryState(false);
      }
    });
  }

  mounted(): void {
    const _countries = JSON.parse(getLocal("saved-countries") || "[]");
    this.setCountries(_countries);
  }

  beforeDestroy(): void {
    this.setDeletingCountryState(false);
  }
}
</script>

<style lang="scss">

$animate-timing: 0.5s;

#favourites {
  display: flex;
  flex-direction: column;

  .favourites__content {
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 48px;
    padding-bottom: #{48px + 56px};
  }
}
</style>