<template lang="pug">
.favourites__content-tile
  .favourites__content-tile-wrapper
    .favourites__content-tile-delete(
      v-if="isDeleting"
      @click="deleteCountry"
    )
      span X
    .favourites__content-tile-details
      .favourites__content-tile-top
        .favourites__content-tile-country-details
          .favourites__content-tile-country
            span {{ country.name }}
          .favourites__content-tile-code
            span {{ country.code }}
        .favourites__content-tile-icon
          i(v-if="weather", :class="`wi ${getIcon(weather.id)}`")
      .favourites__content-tile-bottom
        .favourites__content-tile-temp
          span.favourites__content-tile-temp-number {{ Math.round(countryTemp) }}
          span.favourites__content-tile-temp-unit °{{ unit }}
</template>

<script lang="ts">
import axios from "axios";
import Vue from "vue";
import Component from "vue-class-component";

import WEATHER_ID from "../data/weather-id";

import { WeatherUnitTypes } from "../store";

const getLocal = (key: string) => {
  return window.localStorage.getItem(key);
};

const DailyDisplayProps = Vue.extend({
  props: {
    country: Object,
    isDeleting: Boolean,
  },
});

@Component
export default class FavouritesTile extends DailyDisplayProps {
  // NOTE:
  // It's a demo it's fine for it to be here right x:
  // TODO:
  // Put this into an ENV file and refresh all keys
  WEATHER_KEY = "013468c5cd187154fdffe526c093f8c3";
  URL_WEATHER_CURRENT_API = "https://api.openweathermap.org/data/2.5/weather";

  countryTemp = NaN;

  weatherUnit: WeatherUnitTypes = "metric";
  weather: any = {};

  get unit(): string {
    if (this.weatherUnit === "metric") {
      return "C";
    } else {
      return "F";
    }
  }

  getIcon(id: number): string {
    if (id) {
      return WEATHER_ID[id].icoClass.day;
    } else {
      return "";
    }
  }

  deleteCountry() {
    this.$emit('delete');
  }

  created() {
    this.weatherUnit =
      (getLocal("weather-unit") as WeatherUnitTypes) || "metric";

    const url =
      this.URL_WEATHER_CURRENT_API +
      `?lat=${this.country.pos.lat}` +
      `&lon=${this.country.pos.lon}` +
      `&units=${this.weatherUnit}` +
      `&appid=${this.WEATHER_KEY}`;

    axios.get(url).then((res) => {
      console.log("[ Tile ]", res.data);
      this.countryTemp = res.data.main.temp;
      this.weather = res.data.weather[0];
    });
  }

  mounted() {
    console.log(this.country);
  }
}
</script>

<style lang="scss">
$gap: 4px;

.favourites__content-tile {
  position: relative;
  float: left;
  width: calc(50% - #{$gap * 3});
  margin: #{$gap * 2 + 2} 0 0 #{$gap * 2};
  .favourites__content-tile-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border: 2px solid #111;
    .favourites__content-tile-delete {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 10;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
      }
    }
    .favourites__content-tile-details {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 12px;
      flex-direction: column;
      .favourites__content-tile-top {
        flex: 0 0 auto;
        display: flex;
        .favourites__content-tile-country-details {
          flex: 1 1 auto;
          .favourites__content-tile-country {
            font-size: 16px;
            line-height: 1em;
            font-weight: 700;
          }
          .favourites__content-tile-code {
            font-size: 12px;
            font-weight: 300;
          }
        }
        .favourites__content-tile-icon {
          font-size: 20px;
        }
      }
      .favourites__content-tile-bottom {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        .favourites__content-tile-temp {
          text-align: center;
          .favourites__content-tile-temp-number {
            display: inline-block;
            font-size: 60px;
            vertical-align: top;
          }
          .favourites__content-tile-temp-unit {
            margin-top: 12px;
            display: inline-block;
            font-size: 24px;
            vertical-align: top;
          }
        }
      }
    }
  }
}
</style>
