<template lang="pug">
.favourites__header
  .favourites__header-search-bar(@click="() => { setDeletingCountryState(false); }")
    input(
      v-model="countrySearch",
      placeholder="Add a city",
      :disabled="isDeletingCountries"
    )
    button(
      v-if="countrySearch.length === 0",
      @click="(evt) => { evt.stopPropagation(); setDeletingCountryState(!isDeletingCountries); }"
    )
      span(v-if="!isDeletingCountries") edit
      span(v-if="isDeletingCountries") done
    button(
      v-if="(!cannotFindCountry && !isLookingForCountry && countrySearch.length > 0) || (cannotFindCountry && !isLookingForCountry)",
      @click="clearSearch"
    ) clear search

  .favourites__header-search-results
    .favourites__header-search-result(
      v-if="cannotFindCountry && !isLookingForCountry"
    )
      span No such country
    .favourites__header-search-result(
      v-if="cannotFindCountry && isLookingForCountry"
    )
      span Searching
    .favourites__header-search-result(
      v-if="!cannotFindCountry && !isLookingForCountry",
      :key="ind",
      v-for="(country, ind) in tempCountryData"
    )
      span.favourites__header-search-result-country {{ country.name }}
      button(@click="addCountryToFavourites(country)") Add to favourites
</template>

<script lang="ts">
import axios from "axios";
import { Component, Vue } from "vue-property-decorator";
import { mapActions, mapGetters } from "vuex";

import { CountryType } from "../store";
// TODO:
// Resolve types
// @ts-ignore
import debounce from "debounce";
import Tile from "./favourites-tile.vue";

const setLocal = (key: string, data: string) => {
  window.localStorage.setItem(key, data);
};

// const removeLocal = (key: string) => {
//   window.localStorage.removeItem(key);
// };

@Component({
  components: {
    Tile,
  },
  computed: mapGetters(["listCountries", "isDeletingCountries"]),
  methods: mapActions(["addCountry", "setDeletingCountryState"]),
  watch: {
    countrySearch: function () {
      // TODO:
      // Fix typescript error
      // @ts-ignore
      this.dbouncedGetCountries();
    },
  },
})
export default class FavouritesHeader extends Vue {
  listCountries!: any[];
  isDeletingCountries!: boolean;
  addCountry!: (country: CountryType) => Promise<void>;
  setDeletingCountryState!: (isDeleting: boolean) => Promise<void>;

  // URL_COUNTRIES_API = "https://restcountries.eu/rest/v2/name/";
  // NOTE:
  // It's a demo it's fine for it to be here right x:
  // TODO:
  // Put this into an ENV file and refresh all keys
  WEATHER_KEY = "013468c5cd187154fdffe526c093f8c3";
  URL_CITIES_API = "http://api.openweathermap.org/geo/1.0/direct";

  countrySearch = "";
  tempCountryData = [];

  cannotFindCountry = false;
  isLookingForCountry = false;

  dbouncedGetCountries: any;

  getCountries(): void {
    const _country = this.countrySearch;

    if (_country.length <= 3) {
      return;
    }
    const url =
      this.URL_CITIES_API +
      `?q=${_country}` +
      `&limit=5` +
      `&appid=${this.WEATHER_KEY}`;

    this.cannotFindCountry = true;
    this.isLookingForCountry = true;

    axios
      .get(url)
      .then((res) => {
        this.tempCountryData = res.data;
        console.log(res.data);
        this.cannotFindCountry = false;
        this.isLookingForCountry = false;
      })
      .catch(() => {
        this.cannotFindCountry = true;
        this.isLookingForCountry = false;
      });
  }

  clearSearch(): void {
    this.countrySearch = "";
    this.tempCountryData = [];
    this.cannotFindCountry = false;
    this.isLookingForCountry = false;
  }

  addCountryToFavourites(country: any): void {
    this.addCountry({
      name: country.name,
      code: country.country,
      pos: {
        lat: country.lat || 0,
        lon: country.lon || 0,
      },
    }).then(() => {
      setLocal("saved-countries", JSON.stringify(this.listCountries));
      this.clearSearch();
    });
  }

  created(): void {
    this.dbouncedGetCountries = debounce(this.getCountries, 400);
  }

}
</script>

<style lang="scss">
$animate-timing: 0.5s;

.favourites__header {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  box-shadow: 0px 0px 8px 0px #000;
  z-index: 10;
  .favourites__header-search-bar {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);

    input {
      height: 100%;
      border: 0;
      width: 100%;
      flex: 1 1 auto;
      font-size: 14px;
      padding: 0 16px;
      outline: none;
      margin: 0 0 0 0;
      background-color: transparent;
      &::placeholder {
        color: #111;
      }

      &:disabled {
        color: #111;
        &::placeholder {
          color: #111;
          text-decoration: line-through;
        }
      }
    }

    button {
      height: 100%;
      font-size: 12px;
      padding: 0 16px;
      white-space: nowrap;
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
  .favourites__header-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 16px;
    margin: 0;
    backdrop-filter: blur(7px);
    font-size: 12px;
    z-index: 100;
    box-shadow: 0px 0px 8px 0px #000;

    .favourites__header-search-result {
      display: flex;
      padding: 16px 0;
      border-top: 1px solid #000;
      justify-content: space-between;
      align-items: center;

      .favourites__header-search-result-country {
        font-size: 16px;
        font-weight: 700;
        margin-right: 16px;
      }

      button {
        flex: 0 0 auto;
        padding: 8px 0;
        margin: 0;
        background-color: transparent;
        border: none;
        font-size: 10px;
        outline: none;
        white-space: nowrap;
      }
    }
  }
}
</style>