<template lang="pug">
.hourly-display(ref="display")
  span(style="position: absolute; top: 0; z-index: 100")
  .hourly-display__list(
    ref="list",
    :style="{ transform: `translateX(${-currentX}px)` }"
  )
    .hourly-display__list-item(:key="ind", v-for="(hour, ind) in hours")
      .hourly-display__list-temp
        span {{ hour.temp }}°
      .hourly-display__list-icon
        i(:class="`wi ${hour.icon}`")
      .hourly-display__list-item
        span {{ hour.time }}
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import dayjs from "dayjs";
//@ts-ignore
import * as Hammer from "hammerjs";

import WEATHER_ID from "../data/weather-id";

const DailyDisplayProps = Vue.extend({
  props: {
    data: Array,
  },
});

interface hourlyListProps {
  time: string;
  icon: string;
  temp: number;
}

@Component
export default class HourlyDisplay extends DailyDisplayProps {
  rafID = -1;
  hammer: any;

  currentX = 0;
  targetX = 0;
  touchX = 0;

  minX = 0;
  maxX = 0;

  get hours(): hourlyListProps[] {
    if (this.data) {
      let hours: any[] = [...this.data];
      let _formatted: hourlyListProps[] = [];

      if(hours.length >= 26) {
        hours = hours.slice(1, 25);
      }

      for (let h = 0; h < hours.length; h++) {
        const hour = hours[h];
        const dayJSHour: any = dayjs(hour.dt * 1000);
        const isPM: boolean =
          parseInt(dayJSHour.format("HH")) >= 17 ? true : false;

        _formatted.push({
          time: dayJSHour.format("ddd ha"),
          icon: isPM
            ? WEATHER_ID[hour.weather[0].id].icoClass.night
            : WEATHER_ID[hour.weather[0].id].icoClass.day,
          temp: Math.round(hour.temp),
        });
      }
      return _formatted;
    } else {
      return [];
    }
  }

  mounted() {
    Vue.nextTick().then(() => {
      this.setup();
    });
  }

  beforeDestroy() {
    this.hammer.off("panstart", this.panStartHandler);
    this.hammer.off("panmove",this.panMoveHandler);
    this.hammer.destroy();
    cancelAnimationFrame(this.rafID);
  }

  setup() {

    this.calibrate();

    this.hammer = new Hammer.Manager(this.$refs.display, {
      recognizers: [
        [Hammer.Pan, { direction: Hammer.DIRECTION_HORIZONTAL }]
      ]
    });

    this.hammer.on("panstart", this.panStartHandler);
    this.hammer.on("panmove",this.panMoveHandler);

    this.rafID = requestAnimationFrame(this.anim);
  }

  panStartHandler(evt: any) {
      this.touchX = evt.center.x;
    }

  panMoveHandler(evt: any) {
    let diff = this.touchX - evt.center.x;
    this.targetX += diff;
    this.touchX = evt.center.x;
  }

  calibrate() {
    const totalWidth = (this.$refs.list as HTMLElement).clientWidth;
    const viewWidth = (this.$refs.display as HTMLElement).clientWidth;
    const paddingOffset = 32;

    this.maxX = totalWidth - viewWidth + paddingOffset;
  }

  anim() {
    if (this.currentX !== this.targetX) {
      this.currentX += (this.targetX - this.currentX) * 0.1;
    }

    if (this.targetX < 0) {
      this.targetX = 0;
    }

    if (this.targetX > this.maxX) {
      this.targetX = this.maxX;
    }

    this.rafID = requestAnimationFrame(this.anim);
  }
}
</script>

<style lang="scss" scoped>
.hourly-display {
  position: relative;
  display: block;
  height: 80px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 0 16px;
  overflow: hidden;
  .hourly-display__list {
    position: absolute;
    height: 100%;
    width: auto;
    display: block;
    white-space: nowrap;
    .hourly-display__list-item {
      display: inline-block;
      text-align: center;
      width: 60px;

      & + .hourly-display__list-item {
        margin-left: 24px;
      }
      .hourly-display__list-temp {
        font-size: 16px;
      }
      .hourly-display__list-icon {
        font-size: 24px;
        margin: 8px 0 4px;
      }
      .hourly-display__list-item {
        font-size: 12px;
      }
    }
  }
}
</style>