<template lang="pug">
.main-display
  .main-display__temp
    .main-display__temp-number
      span {{ temp }}
      .main-display__temp-unit
        span °{{ unit }}
  .main-display__weather
    span {{ weather }}
  .main-display__temp-min-max
    span H: {{ max }}°{{ unit }}
    span L: {{ min }}°{{ unit }}
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

import WEATHER_ID from "../data/weather-id";

const MainDisplayProps = Vue.extend({
  props: {
    data: {},
    day: {},
    weatherUnit: String,
  },
});

@Component
export default class MainDisplay extends MainDisplayProps {
  get unit(): string {
    if (this.weatherUnit === "metric") {
      return "C";
    } else {
      return "F";
    }
  }

  get temp(): string {
    if (this.data) {
      //@ts-ignore
      return `${Math.round(this.data.temp)}`;
    } else {
      return "[ Deg ]";
    }
  }

  get min(): string {
    if (this.day) {
      //@ts-ignore
      return `${Math.round(this.day.temp.min)}`;
    } else {
      return "[ min ]";
    }
  }

  get max(): string {
    if (this.day) {
      //@ts-ignore
      return `${Math.round(this.day.temp.max)}`;
    } else {
      return "[ max ]";
    }
  }

  get weather(): string {
    if (this.data) {
      //@ts-ignore
      return `${WEATHER_ID[this.data.weather[0].id].desc}`;
    } else {
      return "[ Weather ]";
    }
  }
}
</script>

<style lang="scss" scoped>
.main-display {
  display: block;
  width: 100%;
  margin-top: -32px;
  margin-bottom: 48px;

  .main-display__temp {
    position: relative;
    width: 100%;
    text-align: center;

    .main-display__temp-number {
      position: relative;
      display: inline-block;
      font-weight: bold;
      font-size: 120px;
    }

    .main-display__temp-unit {
      position: absolute;
      top: 0;
      font-size: 24px;
      display: block;
      top: 16px;
      position: absolute;
      right: 0;
      transform: translate(100%, 0);
    }
  }

  .main-display__weather {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-top: -16px;
  }

  .main-display__temp-min-max {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;

    span {
      + span {
        margin-left: 8px;
      }
    }
  }
}
</style>