<template lang="pug">
.onboarding
  transition(name="slide")
    .onboarding__panel(
      v-if="!hasRequestedLocation"
    )
      .center-wrapper
        h1 Hello!
        p In order for the app to work, we need to know your location!
        small psst! IF you've previously blocked the request you would need to allow us in your location settings!
        button.btn(v-on:click="requestForGeolocation")
          span Give permissions

  transition(name="slide")
    .onboarding__panel(
      v-if="hasRequestedLocation && !hasRequestedNotifications"
    )
      .center-wrapper
        h1 Next,
        p We also would like to warn you about potential weather hazards!
        button.btn(v-on:click="requestForNotifications")
          span Allow notifications
        button.btn.btn--secondary(v-on:click="skipRequestForNotifications")
          span Or not :<

  transition(name="slide")
    .onboarding__panel(
      v-if="hasRequestedLocation && hasRequestedNotifications && !hasInstalledApp"
    )
      .center-wrapper
        h1 Before we start,
        p Would you like to install our app?
        button.btn(v-on:click="installPWA")
          span Yes :D
        button.btn.btn--secondary(v-on:click="skipPWA")
          span No :<
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapActions, mapGetters } from "vuex";

import { PanelTypes, PositionType } from "../store";

const setLocal = (key: string, data: string) => {
  window.localStorage.setItem(key, data);
};

const getLocal = (key: string) => {
  return window.localStorage.getItem(key);
};

const removeLocal = (key: string) => {
  window.localStorage.removeItem(key);
};

let deferredPromptEvt: any;

window.addEventListener("beforeinstallprompt", (evt) => {
  evt.preventDefault();
  deferredPromptEvt = evt;
});

@Component({
  computed: mapGetters(["currentPosition"]),
  methods: mapActions(["setPosition", "setState"]),
})
export default class OnboardingPanel extends Vue {
  hasRequestedLocation = false;
  hasRequestedNotifications = false;
  hasRequestedAppInstall = false;

  hasInstalledApp = false;

  currentPosition!: PositionType;
  setPosition!: (location: PositionType) => Promise<void>;
  setState!: (state: PanelTypes) => Promise<void>;

  beforeMount() {
    const hasLocationPerms = getLocal("perms-location");
    const hasNotificationPerms = Notification.permission === "granted";

    // Checks if panel can be skipped
    if (hasLocationPerms) {
      this.hasRequestedLocation = true;
      // Triggers prompt and if fail takes over the current panel
      this.requestForGeolocation();
    }

    // Checks if panel can be skiped
    if (hasNotificationPerms) {
      this.hasRequestedNotifications = true;
    }

    if (window.matchMedia("(display-mode: standalone)").matches) {
      // Installed wooooo
      this.hasInstalledApp = true;
    }
  }

  // mounted() {
  // console.log(getLocal('perms-location'));
  // console.log(getLocal('perms-notifications'));
  // console.log(window.matchMedia('(display-mode: standalone)').matches);
  // }

  requestForGeolocation(): void {
    navigator.geolocation.getCurrentPosition(
      this.gotGeolocation,
      this.failedGeolocation
    );
  }

  gotGeolocation(position: {
    coords: {
      latitude: number;
      longitude: number;
    };
  }): void {
    console.log("[ Geo Location ] Updating coords");

    setLocal("perms-location", "true");
    this.hasRequestedLocation = true;

    this.setPosition({
      lat: position.coords.latitude,
      lon: position.coords.longitude,
    });
  }

  failedGeolocation(): void {
    console.log("[ Geo Location ] Couldn't get coords");

    removeLocal("perms-location");
    this.hasRequestedLocation = false;
  }

  //      _   __      __  _ _____            __  _
  //     / | / /___  / /_(_) __(_)________ _/ /_(_)___  ____  _____
  //    /  |/ / __ \/ __/ / /_/ / ___/ __ `/ __/ / __ \/ __ \/ ___/
  //   / /|  / /_/ / /_/ / __/ / /__/ /_/ / /_/ / /_/ / / / (__  )
  //  /_/ |_/\____/\__/_/_/ /_/\___/\__,_/\__/_/\____/_/ /_/____/

  requestForNotifications(): void {
    // Notification.permission === 'default';
    // Notification.permission === 'granted';

    // NOTE:
    // To be honest we're just gonna let the user through anyway.
    // Doesn't matter the response it's just how we feel inside x:
    Notification.requestPermission().then((permission) => {
      switch (permission) {
        case "default":
          // Pressed X will cause prompt again can ignore this
          this.hasRequestedNotifications = true;
          break;
        case "granted":
          // YASSSSSS
          this.hasRequestedNotifications = true;
          break;
        default:
          // Big sed :<
          this.hasRequestedNotifications = true;
          break;
      }
    });
  }

  skipRequestForNotifications(): void {
    this.hasRequestedNotifications = true;
  }

  //      ____           __        ____   ____ _       _____
  //     /  _/___  _____/ /_____ _/ / /  / __ \ |     / /   |
  //     / // __ \/ ___/ __/ __ `/ / /  / /_/ / | /| / / /| |
  //   _/ // / / (__  ) /_/ /_/ / / /  / ____/| |/ |/ / ___ |
  //  /___/_/ /_/____/\__/\__,_/_/_/  /_/     |__/|__/_/  |_|

  installPWA(): void {
    // Aww Yis we has a user
    setLocal("isOnboarded", "true");
    if (deferredPromptEvt !== undefined) {
      deferredPromptEvt.prompt();

      deferredPromptEvt.userChoice.then((result: { outcome: string }) => {
        if (result.outcome === "dismissed") {
          console.log("[ PWA ] Why no install :< Big Sed Energy");
        }
        this.setState("current");
      });
    }
  }

  skipPWA(): void {
    // Big sed
    setLocal("isOnboarded", "true");
    this.setState("current");
  }
}
</script>

<style lang="scss">
$spacer: 8px;

.onboarding {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
  }

  .onboarding__panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .center-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      padding: $spacer * 2;
    }
  }

  h1 {
    font-size: 48px;
    // The alignment was off x:
    margin-left: -2px;
  }

  p {
    display: block;
    font-size: 16px;
    margin-top: 14px;
  }

  small {
    display: block;
    font-size: 12px;
    margin-top: 8px;
  }

  button {
    display: block;
    margin-top: 46px;

    + button {
      margin-top: 16px;
    }
  }
}
</style>