<template lang="pug">
.top-bar
  .top-bar__date
    span {{ date }}
  .top-bar__country
    span {{ country }}
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

const BarProps = Vue.extend({
  props: {
    date: String,
    country: String,
  },
});

@Component
export default class Greeting extends BarProps {
  // get formattedDate(): string {
  //   return this.date.format('hh:mma, ddd DD MMM');
  // }
}
</script>

<style lang="scss" scoped>
.top-bar {
  display: block;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;

  .top-bar__date {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .top-bar__country {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 0px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}
</style>