<template lang="pug">
#app
  #loading.slide(v-if="isLoading")
    .center-wrapper
      span Please Wait
      h1 Loading...

  Background

  transition(name="slide")
    #landing.slide(v-if="currentState === 'init'")
      .center-wrapper
        span Not another
        h1 Weather app

  transition(name="slide")
    Onboarding(v-if="currentState === 'onboarding'")

  transition(name="slide")
    #home.slide(v-if="currentState === 'current'")
      TopBar(:date="timeFormatted", :country="currentCountry")
      MainDisplay(
        :data="currentWeatherData.current",
        :day="currentWeatherData.daily[0]",
        :weatherUnit="weatherUnit"
      )
      HourlyDisplay(:data="currentWeatherData.hourly")
      DailyDisplay(:data="currentWeatherData.daily")

  transition(name="slide")
    Favourites(v-if="currentState === 'favourites'")
  transition(name="slide-down")
    FavouritesHeader(v-if="currentState === 'favourites'")

  transition(name="slide")
    #settings.slide(v-if="currentState === 'settings'")
      .center-wrapper
        button.setting__button(
          @click="changeUnit('metric')",
          :class="{ 'setting__button--active': weatherUnit === 'metric' }"
        )
          .setting__button-wrapper
            span.setting__button-unit °C
        button.setting__button(
          @click="changeUnit('imperial')",
          :class="{ 'setting__button--active': weatherUnit === 'imperial' }"
        )
          .setting__button-wrapper
            span.setting__button-unit °F

  transition(name="slide-up")
    #nav(v-if="currentState !== 'init' && currentState !== 'onboarding'")
      button(
        :class="{ active: currentState === 'current' }",
        @click="changeState('current')"
      )
        .icon
          inline-svg(
            :src="require('./assets/svg/placeholder.svg')",
            width="16",
            height="16"
          )
        .text
          span Home
      button(
        :class="{ active: currentState === 'favourites' }",
        @click="changeState('favourites')"
      )
        .icon
          inline-svg(
            :src="require('./assets/svg/heart.svg')",
            width="16",
            height="16"
          )
        .text
          span Favourites
      button(
        :class="{ active: currentState === 'settings' }",
        @click="changeState('settings')"
      )
        .icon
          inline-svg(
            :src="require('./assets/svg/gear.svg')",
            width="16",
            height="16"
          )
        .text
          span Settings

  #offline(v-if="!isOnline")
    span Offline!
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapActions, mapGetters } from "vuex";
import axios from "axios";
import dayjs from "dayjs";

import { PanelTypes, PositionType, WeatherUnitTypes } from "./store";

import WEATHER_ID from "./data/weather-id";

import Background from "./components/background.vue";
import Onboarding from "./components/onboarding.vue";
import FavouritesHeader from "./components/favourites-header.vue";
import Favourites from "./components/favourites.vue";
import TopBar from "./components/top-bar.vue";
import MainDisplay from "./components/main-display.vue";
import HourlyDisplay from "./components/hourly-display.vue";
import DailyDisplay from "./components/daily-display.vue";

const setLocal = (key: string, data: string) => {
  window.localStorage.setItem(key, data);
};

const getLocal = (key: string) => {
  return window.localStorage.getItem(key);
};

const removeLocal = (key: string) => {
  window.localStorage.removeItem(key);
};

@Component({
  components: {
    Background,
    Onboarding,
    FavouritesHeader,
    Favourites,
    TopBar,
    MainDisplay,
    HourlyDisplay,
    DailyDisplay,
  },
  computed: mapGetters([
    "currentState",
    "currentPosition",
    "currentLocationData",
    "currentWeatherData",
  ]),
  methods: mapActions([
    "setPosition",
    "setState",
    "setCurrentLocationData",
    "setCurrentWeatherData",
  ]),
})
export default class App extends Vue {
  currentState!: string;
  currentPosition!: PositionType;
  currentLocationData!: any;
  currentWeatherData!: any;
  setPosition!: (location: PositionType) => Promise<void>;
  setState!: (state: PanelTypes) => Promise<void>;
  setCurrentLocationData!: (data: any) => Promise<void>;
  setCurrentWeatherData!: (data: any) => Promise<void>;

  // NOTE:
  // It's a demo it's fine for it to be here right x:
  // TODO:
  // Put this into an ENV file and refresh all keys
  WEATHER_KEY = "013468c5cd187154fdffe526c093f8c3";
  LOCATION_KEY = "265d2b3c626b4e66a57725b27ceb62f9";

  // Call
  URL_WEATHER_API = "https://api.openweathermap.org/data/2.5/onecall";
  URL_LOCATION_API = "https://api.opencagedata.com/geocode/v1/json";

  isOnline = true;
  isLoading = false;
  isAnimating = false;

  weatherUnit: WeatherUnitTypes = "metric";

  loadedLocation = false;
  loadedWeather = false;

  currentWeatherID = -1;
  currentCountry = "[ Country ]";

  timeNow = dayjs(new Date());
  timeFormatted = "hh:mma, ddd DD MMM";

  dataQueryTime = 5;

  refreshDataTimeout: null | number = null;

  //    ____        __                         ___
  //   / __ \____  / /_  ____  ____ __________/ (_)___  ____ _
  //  / / / / __ \/ __ \/ __ \/ __ `/ ___/ __  / / __ \/ __ `/
  // / /_/ / / / / /_/ / /_/ / /_/ / /  / /_/ / / / / / /_/ /
  // \____/_/ /_/_.___/\____/\__,_/_/   \__,_/_/_/ /_/\__, /
  //                                                 /____/

  checkOnboarding(): void {
    const isOnboarded = getLocal("isOnboarded");

    if (isOnboarded) {
      console.log("[ Onboarding ] Skipping...");
      if (this.isOnline) {
        console.log("[ Online ] Online flow");
        navigator.geolocation.getCurrentPosition(
          this.gotGeolocation,
          this.failedGeolocation
        );
      } else {
        console.log("[ Offline ] Forcing offline");
        this.setState("current");
        this.isLoading = false;
      }
    } else {
      console.log("[ Onboarding ] Starting");
      this.setState("onboarding");
    }
  }

  gotGeolocation(position: {
    coords: {
      latitude: number;
      longitude: number;
    };
  }): void {
    console.log("[ Geo Location ] Updating coords");
    setLocal("perms-location", "true");

    this.setPosition({
      lat: position.coords.latitude,
      lon: position.coords.longitude,
    }).then(() => {
      this.setState("current");
    });
  }

  failedGeolocation(): void {
    console.log("[ Geo Location ] Couldn't get coords");
    removeLocal("perms-location");
    removeLocal("isOnboarded");
    this.setState("onboarding");
  }

  //      _   __      __  _ _____            __  _
  //     / | / /___  / /_(_) __(_)________ _/ /_(_)___  ____  _____
  //    /  |/ / __ \/ __/ / /_/ / ___/ __ `/ __/ / __ \/ __ \/ ___/
  //   / /|  / /_/ / /_/ / __/ / /__/ /_/ / /_/ / /_/ / / / (__  )
  //  /_/ |_/\____/\__/_/_/ /_/\___/\__,_/\__/_/\____/_/ /_/____/

  sendNotification(title: string, body: string): void {
    if (Notification.permission == "granted") {
      navigator.serviceWorker.getRegistration().then(function (reg: any) {
        reg.showNotification(title, {
          body,
          icon: "/img/icons/apple-touch-icon-180x180.png",
          badge: "/img/icons/apple-touch-icon-60x60.png",
        });
      });
    }
  }
  //    ____  ___________               __  __                ____
  //   / __ \/ __/ __/ (_)___  ___     / / / /___ _____  ____/ / /__  _____
  //  / / / / /_/ /_/ / / __ \/ _ \   / /_/ / __ `/ __ \/ __  / / _ \/ ___/
  // / /_/ / __/ __/ / / / / /  __/  / __  / /_/ / / / / /_/ / /  __/ /
  // \____/_/ /_/ /_/_/_/ /_/\___/  /_/ /_/\__,_/_/ /_/\__,_/_/\___/_/

  onlineHandler(): void {
    this.isOnline = true;
    if (Notification.permission == "granted") {
      navigator.serviceWorker.getRegistration().then(function (reg: any) {
        reg.showNotification("Connected!");
      });
    }
  }

  offlineHanlder(): void {
    this.isOnline = false;
    if (Notification.permission == "granted") {
      navigator.serviceWorker.getRegistration().then(function (reg: any) {
        reg.showNotification("Disconnected!");
      });
    }
  }

  //    __  __          __      __
  //   / / / /___  ____/ /___ _/ /____  _____
  //  / / / / __ \/ __  / __ `/ __/ _ \/ ___/
  // / /_/ / /_/ / /_/ / /_/ / /_/  __(__  )
  // \____/ .___/\__,_/\__,_/\__/\___/____/
  //     /_/

  triggerUpdates(forced = false): void {
    const time = getLocal("last-updated");

    let locationCache = getLocal("location-data");
    let weatherCache = getLocal("weather-data");

    // NOTE:
    // Forces the cache to fail if the JSON is borked
    // This can happen if we ever hit the 5mb limit x:
    if (locationCache) {
      try {
        JSON.parse(locationCache);
      } catch {
        locationCache = null;
      }
    }
    if (weatherCache) {
      try {
        JSON.parse(weatherCache);
      } catch {
        weatherCache = null;
      }
    }

    // Being checking
    this.isLoading = true;

    console.log("[ Data ] Checking Data");

    if (forced || time === null) {
      console.log("[ Data ] Updating Data");
      this.updateCurrentLocation();
      this.updateWeatherData();
    } else {
      // Check if outdated
      const date1 = dayjs(new Date());
      const date2 = dayjs(parseInt(time) * 1000);
      const diff = date1.diff(date2, "minute", true);

      console.log(`[ Data ] Time since last retrieve ${diff}mins`);

      // Refresh data if older than 5 mins
      if (diff >= this.dataQueryTime) {
        this.updateCurrentLocation();
        this.updateWeatherData();
      } else {
        if (locationCache) {
          console.log("[ Location Data ] Loading Cache");
          this.setCurrentLocationData(JSON.parse(locationCache)).then(() => {
            this.currentCountry = this.currentLocationData.components.country;
            this.loadedLocation = true;
            this.checkReady();
          });
        } else {
          this.updateCurrentLocation();
        }
        if (weatherCache) {
          console.log("[ Weather Data ] Loading Cache");
          this.setCurrentWeatherData(JSON.parse(weatherCache)).then(() => {
            this.loadedWeather = true;
            this.checkReady();
          });
        } else {
          this.updateWeatherData();
        }
      }
    }
  }

  updateCurrentLocation(): void {
    const url =
      this.URL_LOCATION_API +
      `?key=${this.LOCATION_KEY}` +
      `&q=${this.currentPosition.lat},${this.currentPosition.lon}`;

    axios.get(url).then((res) => {
      const _result = res.data.results[0];
      console.log("[ Location Data ]", _result);
      // Save
      setLocal("location-data", JSON.stringify(_result));
      this.setCurrentLocationData(_result).then(() => {
        this.currentCountry = this.currentLocationData.components.country;
        this.loadedLocation = true;
        this.checkReady();
      });
    });
  }

  updateWeatherData(): void {
    const url =
      this.URL_WEATHER_API +
      `?lat=${this.currentPosition.lat}` +
      `&lon=${this.currentPosition.lon}` +
      `&exclude=minutely` +
      `&units=${this.weatherUnit}` +
      `&appid=${this.WEATHER_KEY}`;

    axios.get(url).then((res) => {
      console.log("[ Weather Data ]", res);
      // Save
      setLocal("weather-data", JSON.stringify(res.data));
      this.setCurrentWeatherData(res.data).then(() => {
        this.loadedWeather = true;
        this.checkReady();
      });
    });
  }

  checkReady(): void {
    this.checkHazards();
    if (this.loadedLocation && this.loadedWeather) {
      this.isLoading = false;
      setLocal("last-updated", dayjs(new Date()).unix().toString());
    } else {
      this.isLoading = true;
    }
  }

  checkHazards(): void {
    const _weatherID = this.currentWeatherData.current.weather[0].id;
    if (_weatherID !== this.currentWeatherID) {
      this.currentWeatherID = _weatherID;
      const _weather = WEATHER_ID[this.currentWeatherID];
      if (_weather.warnUser) {
        this.sendNotification(
          "Weather",
          `Hey the weather is currently ${_weather.desc}`
        );
      }
    }
  }

  //    _____      __  __  _
  //   / ___/___  / /_/ /_(_)___  ____ ______
  //   \__ \/ _ \/ __/ __/ / __ \/ __ `/ ___/
  //  ___/ /  __/ /_/ /_/ / / / / /_/ (__  )
  // /____/\___/\__/\__/_/_/ /_/\__, /____/
  //                           /____/

  changeUnit(unit: WeatherUnitTypes): void {
    if (this.isOnline) {
      this.weatherUnit = unit;
      setLocal("weather-unit", unit);
      this.triggerUpdates(true);
    }
  }

  changeState(state: PanelTypes): void {
    if (!this.isAnimating && this.currentState !== state) {
      this.isAnimating = true;
      this.setState(state);

      const _timeout = setTimeout(() => {
        clearTimeout(_timeout);
        this.isAnimating = false;
      }, 500);
    }
  }
  //    ________           __
  //   / ____/ /___  _____/ /__
  //  / /   / / __ \/ ___/ //_/
  // / /___/ / /_/ / /__/ ,<
  // \____/_/\____/\___/_/|_|

  initClock(): void {
    this.clockTick();
    setInterval(() => {
      this.clockTick();
    }, 1000);
    setInterval(() => {
      this.clockUpdateTick();
    }, 1000 * 30);
  }

  clockTick(): void {
    this.timeNow = dayjs(new Date());
    this.timeFormatted = this.timeNow.format("hh:mma, ddd DD MMM");
  }

  clockUpdateTick(): void {
    this.triggerUpdates();
  }

  //      __    _ ____                     __
  //     / /   (_) __/__  _______  _______/ /__
  //    / /   / / /_/ _ \/ ___/ / / / ___/ / _ \
  //   / /___/ / __/  __/ /__/ /_/ / /__/ /  __/
  //  /_____/_/_/  \___/\___/\__, /\___/_/\___/
  //                        /____/

  created(): void {
    this.weatherUnit =
      (getLocal("weather-unit") as WeatherUnitTypes) || "metric";
    setLocal("weather-unit", this.weatherUnit);

    this.$store.subscribe(({ type }, state: any) => {
      if (type === "updatePosition") {
        console.log(
          "[ Location ] New position updated",
          state.data.position.lat,
          state.data.position.lon
        );
        // UPDATE MEHHHH!
        this.triggerUpdates();
      }
    });

    this.isOnline = window.navigator.onLine;
  }

  mounted(): void {
    this.checkOnboarding();

    window.addEventListener("online", this.onlineHandler);
    window.addEventListener("offline", this.offlineHanlder);
    this.initClock();
  }
}
</script>

<style lang="scss">
@use './assets/weather-icons/sass/weather-icons';

@font-face {
  font-family: "weathericons";
  src: url("./assets/weather-icons/font/weathericons-regular-webfont.woff2")
      format("woff2"),
    url("./assets/weather-icons/font/weathericons-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

$spacer: 8px;
$navHeight: 48px;

$ico-size: 16px;
$l-width: 100px;

$animate-timing: 0.5s;
$button-x-padding: 16px;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100vw;
  color: #111;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

h1,
h2,
h3,
p,
small {
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  // background-color: #fff;
  // padding-bottom: 56px;

  .center-wrapper {
    position: absolute;
    width: 100%;
    padding: $spacer * 2;
  }
}

#home {
  display: block;
}

#offline {
  position: absolute;
  top: 16px;
  right: 16px;
}

#loading {
  text-align: center;
}

#landing {
  text-align: center;
}

#settings {
  .center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .setting__button {
    position: relative;
    display: block;
    width: 160px;
    background-color: transparent;
    border: 2px solid #111;
    color: #111;
    padding: 0;
    transition: background-color 0.25s, color 0.25s;
    outline: none;

    + .setting__button {
      margin-top: 24px;
    }

    &--active {
      background-color: #111;
      color: #fff;
    }

    .setting__button-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      padding-bottom: 100%;

      .setting__button-unit {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        font-weight: 700;
      }
    }
  }
}

#nav {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 8px 16px;
  justify-content: space-between;
  backdrop-filter: blur(7px);
  box-shadow: 0px 0px 8px 0px #000;
  z-index: 1000;

  button {
    display: block;
    white-space: nowrap;
    // height: 36px;
    width: $ico-size;
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 12px $button-x-padding;
    text-transform: uppercase;
    overflow: hidden;
    box-sizing: content-box;
    transition: width $animate-timing ease-in-out,
      background-color $animate-timing ease-in-out,
      color $animate-timing ease-in-out;

    .icon {
      display: inline-block;
      vertical-align: middle;
      height: $ico-size;
      width: $ico-size;
      flex: 0 0 auto;
      box-sizing: content-box;

      svg {
        height: 100%;
        width: 100%;

        path {
          fill: #111;
          transition: fill $animate-timing ease-in-out;
        }
      }
    }

    .text {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: $l-width;
      padding: 0;
      white-space: nowrap;
      text-align: center;
      flex: 1 1 auto;
      overflow: hidden;
      color: inherit;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: inherit;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        padding-left: $button-x-padding;
      }
    }

    &.active {
      width: $l-width + $ico-size;
      background-color: #111;
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

.btn {
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #111;
  background-color: #111;
  color: #fff;
  font-weight: 700;
  padding: 14px 27px;

  &:active {
    background-color: #fff;
    color: #111;
  }

  &--secondary {
    border: 2px solid #111;
    background-color: #fff;
    color: #111;

    &:active {
      background-color: #111;
      color: #fff;
    }
  }
}

//     ___          _                 __  _
//    /   |  ____  (_)___ ___  ____ _/ /_(_)___  ____  _____
//   / /| | / __ \/ / __ `__ \/ __ `/ __/ / __ \/ __ \/ ___/
//  / ___ |/ / / / / / / / / / /_/ / /_/ / /_/ / / / (__  )
// /_/  |_/_/ /_/_/_/ /_/ /_/\__,_/\__/_/\____/_/ /_/____/

.slide-enter {
  transform: translateX(100%);
}
.slide-enter-active {
  transition: all $animate-timing ease-in-out;
}
.slide-enter-to {
  transform: translateX(0);
}

.slide-leave {
  transform: translateX(0);
}
.slide-leave-active {
  transition: all $animate-timing ease-in-out;
}
.slide-leave-to {
  transform: translateX(-100%);
}

.slide-up-enter {
  transform: translateY(100%);
}
.slide-up-enter-active {
  transition: all $animate-timing ease-in-out;
}
.slide-up-enter-to {
  transform: translateY(0);
}

.slide-up-leave {
  transform: translateY(0);
}
.slide-up-leave-active {
  transition: all $animate-timing ease-in-out;
}
.slide-up-leave-to {
  transform: translateY(100%);
}

.slide-down-enter {
  transform: translateY(-60px);
}
.slide-down-enter-active {
  transition: all $animate-timing ease-in-out;
}
.slide-down-enter-to {
  transform: translateY(0);
}

.slide-down-leave {
  transform: translateY(0);
}
.slide-down-leave-active {
  transition: all $animate-timing ease-in-out;
}
.slide-down-leave-to {
  transform: translateY(-60px);
}

// .slide-leave-active {
//   animation: slide-animation .5s reverse;
// }
// @keyframes slide-animation {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
</style>
